.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}

body {
	background-color: rgb(14, 116, 175);
}

header {
	height: 50px;
	background-color: #095E8F;
	color: #ffffff;
	text-align: center;
	font-size: xx-large;
	font-family: cursive;
}	

.clb-cont {
	padding: 10.5px;
}
.create-list-btn{
	padding: 5px;
	cursor: pointer;
	outline: 0;
	background-color: grey;
	color: whitesmoke;
	font-size: medium;
	font-family: sans-serif;
	border-radius: 4px;
	font-weight: bold;
}


.list-container > div{
	display: inline-block;
	vertical-align:top;
}
.ilist{
	position: relative;
	width: 250px;
	min-height: 50px;
	background-color: #e3e3e3;
	margin: 10px;
	.box-shadow(grey 2px 2px 0px 2px);
	padding: 3px;
	padding-bottom: 30px;
	.border-radius();
	.title {
		font-weight: bold;
		color: #ffffff;
		padding: 2px 0px 0px 3px;
		font-size: large;
		background-color: rgb(79, 79, 79);
		> input {
			outline: 0;
			font-weight: bold;
			color: #ffffff;
			background-color: rgb(79, 79, 79);
			font-size: small;
			border: 0;
			font-size: large;
		}
	}
	> .del-btn {
		position: absolute;
		height: 7px;
		width: 7px;
		top: -7px;
		right: -7px;
		padding: 10px;
		color: #FFFFFF;
		text-decoration: none;
		background-color: rgb(79, 79, 79);
		.border-radius(50%);
		.box-shadow(inset grey 2px 2px 6px 5px);		
	}

	> .add-item-btn{
		position: absolute;
		bottom: 2px;
		text-decoration: none;
		outline: 0px;
		color: whitesmoke;
		font-weight: bold;
		border-radius: 5px;
		padding: 4px 29px;
		background-color: rgb(134, 134, 134);
	}
}

.item{
	position: relative;
	margin: 2px;
	outline: 0px;
	background-color: rgb(183, 183, 183);
	.border-radius();
	> textarea,
	> .showtext{
		min-height: 50px;
		background-color: #b7b7b7;
		border: 0px;
		outline: 0px;
		color: white;
		font-family: monospace;
		color: blanchedalmond;
		font-size: small;
		resize: none;
		.border-radius();
	}
	> textarea {
		width: 95%;
	}
	> .showtext{
		padding: 2px;
		word-break: break-all;
	}
	.del-btn{
		position: absolute;
		text-decoration: none;
		top: 0;
		right: 0;
		color: black;
	}
}

.hidden {
	display: none;
}