body {
  background-color: #0e74af;
}
header {
  height: 50px;
  background-color: #095E8F;
  color: #ffffff;
  text-align: center;
  font-size: xx-large;
  font-family: cursive;
}
.clb-cont {
  padding: 10.5px;
}
.create-list-btn {
  padding: 5px;
  cursor: pointer;
  outline: 0;
  background-color: grey;
  color: whitesmoke;
  font-size: medium;
  font-family: sans-serif;
  border-radius: 4px;
  font-weight: bold;
}
.list-container > div {
  display: inline-block;
  vertical-align: top;
}
.ilist {
  position: relative;
  width: 250px;
  min-height: 50px;
  background-color: #e3e3e3;
  margin: 10px;
  -webkit-box-shadow: #808080 2px 2px 0px 2px;
  -moz-box-shadow: #808080 2px 2px 0px 2px;
  box-shadow: #808080 2px 2px 0px 2px;
  padding: 3px;
  padding-bottom: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ilist .title {
  font-weight: bold;
  color: #ffffff;
  padding: 2px 0px 0px 3px;
  font-size: large;
  background-color: #4f4f4f;
}
.ilist .title > input {
  outline: 0;
  font-weight: bold;
  color: #ffffff;
  background-color: #4f4f4f;
  font-size: small;
  border: 0;
  font-size: large;
}
.ilist > .del-btn {
  position: absolute;
  height: 7px;
  width: 7px;
  top: -7px;
  right: -7px;
  padding: 10px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #4f4f4f;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset #808080 2px 2px 6px 5px;
  -moz-box-shadow: inset #808080 2px 2px 6px 5px;
  box-shadow: inset #808080 2px 2px 6px 5px;
}
.ilist > .add-item-btn {
  position: absolute;
  bottom: 2px;
  text-decoration: none;
  outline: 0px;
  color: whitesmoke;
  font-weight: bold;
  border-radius: 5px;
  padding: 4px 29px;
  background-color: #868686;
}
.item {
  position: relative;
  margin: 2px;
  outline: 0px;
  background-color: #b7b7b7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.item > textarea,
.item > .showtext {
  min-height: 50px;
  background-color: #b7b7b7;
  border: 0px;
  outline: 0px;
  color: white;
  font-family: monospace;
  color: blanchedalmond;
  font-size: small;
  resize: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.item > textarea {
  width: 95%;
}
.item > .showtext {
  padding: 2px;
  word-break: break-all;
}
.item .del-btn {
  position: absolute;
  text-decoration: none;
  top: 0;
  right: 0;
  color: black;
}
.hidden {
  display: none;
}
